<section class="login">
  <div class="login__title">
    <img class="login__title-image" src="../../../assets/images/img-venelec.png" alt="Titulo Venelec">
  </div>
  <div class="login__people">
    <img class="login__people-image" src="../../../assets/images/img-boy.png" alt="Imagen niño">
    <img class="login__people-image" src="../../../assets/images/img-girl.png" alt="Imagen niña">
  </div>
  <h2 class="login__subTitle">Family Pack</h2>
  <p class="login__parrafo">Comprar los uniformes nunca habia sido tan simple.</p>
  <hr class="login__separation"/>
  <div class="login__methods">
    <h3 class="login__methods-title">Iniciar sesión con:</h3>
    <div class="login__methods-types">
      <img (click)="login('facebook')" title="Facebook" class="login__methods-images" src="../../../assets/images/img-icons_facebook.png" alt="Icon Facebook">
      <img (click)="login('google')" title="Google" class="login__methods-images" src="../../../assets/images/img-icons_google.png" alt="Icon Google">
      <img (click)="login('mail')" title="Mail" class="login__methods-images" src="../../../assets/images/img-email.png" alt="Icon Mensaje">
    </div>
  </div>
</section>
