<section class="bienvenida">
  <h1 class="bienvenida__title animate__animated animate__backInLeft">bienvenido pablo</h1>
  <p class="bienvenida__parrafo animate__animated animate__backInLeft" >
    Esta herramienta va ayudarte con la búsqueda de los uniformes para tus hijos en edad escolar, pero necesitamos algo de tu ayuda por primera vez.
  </p>
  <p class="bienvenida__parrafo animate__animated animate__backInLeft" >
    En el siguiente paso, vamos a pedirte algunos datos básicos sobre tus hijos (género, edady escuela). Con esto, la aplicación podrá hacer su magia y armar los unofrmes que luego podrás personalizar
  </p>
  <button (click)="navegar()" class="bienvenida__btn animate__animated animate__backInUp">
    <span  class="bienvenida__txt">¿Continuamos?</span>
  </button>
</section>
