.header{
  width: 100vw;
  font-family: Roboto Slab;
  &__wrapper{
    width: 100%;
    background-color: red;
    padding: 15px;

    position: relative;
  }
  &__img{
    position: absolute;
    left: 20px;
  }
  &__title{
    text-align: center;
    color: white;
    text-transform: capitalize;
  }
}